// https://paletton.com/#uid=54E0v0kTSsVxsOfRQFPUWnhW0he

.sad-header {
  text-align: center;
  font-family: Tahoma, sans-serif;
  margin-top: 20px;

  .sad-title {
    font-size: 36px;
    text-shadow: -2px -2px 3px #FFE790;

    div {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
    };

    .sad-moontide {
      color: #20049F;
    };

    .sad-crossbridge {
      color: #5D029A;
    };

    .sad-revelry {
      color: #B5006E;
    };
  };

  .sad-subtitle {
    color: aliceblue;
    text-shadow: -2px -2px 3px #FFE790;
    padding-bottom: 5px;
  };

  .sad-menu {
    color: aliceblue;
    cursor: pointer;
  };

  .sad-select {
    margin-top: 5px;
    font-size: medium;

    select {
      cursor: pointer;
    };
  };
};

.sad-page {
  display: flex;
  flex-direction: row;
};

.sad-content {
  color: white;
  text-shadow: 1px 1px 3px black;
  white-space: pre;
  flex-grow: 2;
  margin: 30px 64px 0px 64px;
  width: 80%;
  z-index: 1;
};

.sad-content-full {
  font-family: 'Lucida Console', 'Courier New', monospace;
  text-wrap: wrap;
};

.sad-update {
  flex-grow: 1;
  margin: 0px 5px;
  cursor: pointer;
};

.sad-update.prev {
  filter: drop-shadow(1px 1px 3px rgba(62, 26, 225, .90));
  border-radius: 50%;
  cursor: pointer;
};

.sad-update.next {
    filter: drop-shadow(1px 1px 3px rgba(233, 0, 141, .90));
    border-radius: 50%;
    cursor: pointer;
};

.sad-update.sad-disabled {
  opacity: 50%;

  filter: unset !important;
  border-radius: unset !important;
  cursor: default !important;
};

.sad-background {
  img {
    opacity: .666;
    z-index: 0;
  };
};

.sad-background.left {
  position: fixed;
  bottom: 0;
  left: 0;
};

.sad-background.right {
  position: fixed;
  bottom: 0;
  right: 0;
};