.sad-menu {
  cursor: pointer;
  font-family: Tahoma, sans-serif;
  padding: 5px;
  white-space: pre-line;
};

.sad-menu.sad-audio.muted {
  text-decoration: line-through;
};

.sad-okClose {
  text-align: center;
  margin-bottom: 10px;

  input {
    font-family: Tahoma, sans-serif;
    line-height: 0;
    padding: 3px;
  };
};