<mat-dialog-content style="padding-top: 5px; padding-bottom: 5px">
  <div class="sad-okClose">
    <input type="button" value="ok" (click)="okClose()">
  </div>
  <div *ngIf="hasNotice" class="sad-menu" (click)="openNoticeDialog()">notice</div>
  <div class="sad-menu" (click)="openDisclaimerDialog()">disclaimer</div>
  <div class="sad-menu" (click)="openUpdatesDialog()">updates</div>
  <div class="sad-menu" (click)="openReferencesDialog()">references</div>
  <div class="sad-menu" (click)="openInstagramLink()">instagram</div>
  <div [ngClass]="{'sad-menu': true, 'sad-audio': true, 'muted': !audioAudible}" (click)="toggleAudio()">audio</div>
</mat-dialog-content>
