<mat-dialog-content style="padding-top: 5px; padding-bottom: 5px">
  <div class="sad-okClose">
    <input type="button" value="ok" (click)="okClose()">
  </div>
  <div class="sad-select">
    <select #blogSelect (change)="updateCurrentBlogEntryIndex(+blogSelect.value)">
      <option *ngFor="let blogEntryId of blogEntryIds; index as i"
        [value]="i"
        [selected]="currentBlogEntryIndex === i">
        {{blogEntryIdToDate(blogEntryId)}}
      </option>
    </select>
  </div>
  <div class="sad-blog">
    <div class="sad-navigation">
      <div>
        <img
          [ngClass]="{
            'prev': true,
            'sad-update': true,
            'sad-disabled': (currentBlogEntryPageIndex === 0)
          }"
          src="../../../assets/sad-first.png"
          (click)="updateCurrentBlogEntryPageIndex(0)"
        />
      </div>
      <div>
        <img
          [ngClass]="{
            'prev': true,
            'sad-update': true,
            'sad-disabled': (currentBlogEntryPageIndex === 0)
          }"
          src="../../../assets/sad-prev.png"
          (click)="updateCurrentBlogEntryPageIndex(currentBlogEntryPageIndex - 1)"
        />
      </div>
    </div>
    <div class="sad-content">
      <img src="{{currentBlogEntryPageAsset}}" />
    </div>
    <div class="sad-navigation">
      <div>
        <img
          [ngClass]="{
            'next': true,
            'sad-update': true,
            'sad-disabled': (currentBlogEntryPageIndex === currentBlogEntryPages.length - 1)
          }"
          src="../../../assets/sad-last.png"
          (click)="updateCurrentBlogEntryPageIndex(currentBlogEntryPages.length - 1)"
        />
      </div>
      <div>
        <img
          [ngClass]="{
            'next': true,
            'sad-update': true,
            'sad-disabled': (currentBlogEntryPageIndex === currentBlogEntryPages.length - 1)
          }"
          src="../../../assets/sad-next.png"
          (click)="updateCurrentBlogEntryPageIndex(currentBlogEntryPageIndex + 1)"
        />
      </div>
    </div>
  </div>
</mat-dialog-content>
