<div>
  <app-header [menuOptions]="menuOptions">
    <div class="sad-title">
      <div class="sad-title-1">sensation</div>
      <div class="sad-title-2">and</div>
      <div class="sad-title-1">desire</div>
    </div>
    <div class="sad-subtitle">
      🔞
    </div>
  </app-header>
</div>
<div class="sad-page">
  <div class="sad-content">
    <ul>
      <li>
        <div
          class="sad-content-fulltext"
          style="display: inline; cursor: pointer;"
          (click)="handleLilacLink()">
          lilac, "love is like a curse"
          <div>
            - 2026, wip debut duology <span style="color: red">&lt;- i want you to read this</span>
          </div>
        </div>
      </li>
      <li style="display: inline-block;">
        <div>
        </div>
      </li>
      <li>
        <div
          class="sad-content-fulltext"
          style="display: inline; cursor: pointer;"
          (click)="handleMtcbrrLink()">
          MOONTIDE CROSSBRIDGE REVELRY
          <div>
            - 2023, unfinished trilogy
          </div>
        </div>
      </li>
      <li style="display: inline-block;">
        <div>
        </div>
      </li>
      <li>
        <div
          class="sad-content-fulltext"
          style="display: inline; cursor: pointer;"
          (click)="handleYanLink()">
          Youth at Night
          <div>
            - 2017, unfinished book
          </div>
        </div>
      </li>
      <li style="display: inline-block;">
        <div>
        </div>
      </li>
      <li>
        <div
          class="sad-content-fulltext"
          style="display: inline; cursor: pointer;"
          (click)="handleShortsLink()">
          shorts
          <div>
            - assorted short stories
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>