<div>
  <app-header [menuOptions]="menuOptions">
    <div class="sad-title">
      <div class="sad-title-1">SENSATION</div>
      <div class="sad-title-2">AND</div>
      <div class="sad-title-3">DESIRE</div>
    </div>
    <div class="sad-subtitle">
      an experience | 🔞
    </div>
  </app-header>
</div>
<div class="sad-page">
  <div class="sad-content">
    <ul>
      <li>
        <div
          class="sad-content-fulltext"
          style="display: inline; cursor: pointer;"
          (click)="handleMtcbrrLink()">
          Moontide Crossbridge Revelry
          <div>
            - the author's WIP novel
          </div>
          <div>
            - an exploration of personal healing from self-hatred and trauma through shadow work and community connection, set in a hyperviolent video game dimension
          </div>
        </div>
      </li>
      <li style="display: inline-block;">
        <div>
        </div>
      </li>
      <li>
        <div
          class="sad-content-fulltext"
          style="display: inline; cursor: pointer;"
          (click)="handleLovLink()">
          Logs of Vates
          <div>
            - the author's personal blog
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>