<mat-dialog-content>
  <div class="sad-menu-content">
    @for (menuOption of menuOptionsSorted; track menuOption.text; let i = $index) {
      @switch(menuOption.type) {
        @case (MenuOptionTypeViewText) {
          <div class="sad-menu-viewtext" (click)="menuOption.handler()">
            {{menuOption.text}}
          </div>
        }
        @case (MenuOptionTypeNavigate) {
          <div class="sad-menu-navigate" (click)="menuOption.handler()">
            {{menuOption.text}}
          </div>
        }
        @case (MenuOptionTypeToggle) {
          <div class="sad-menu-toggle">
            <mat-slide-toggle
              [checked]="checkOnOrOff(menuOption)"
              [hideIcon]="true"
              (change)="menuOption.handler($event)"
              labelPosition="before">
              {{menuOption.text}}</mat-slide-toggle>
          </div>
        }
      }
      
      @if((i + 1 !== menuOptionsSorted.length) && (menuOptionsSorted[i + 1].type !== menuOption.type)) {
        <hr />
      }
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">ok</button>
</mat-dialog-actions>
